.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    align-items: center;
    border: 2px solid;
}

@media screen and (max-width: 720px) {
    .App {

        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}